<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
<title>Login</title>

<body> 

<h1>login</h1>
 
<form action="/logar" method="post">
    <label for="email"><b>Email</b></label> <input type="text"
       placeholder="Enter Email" name="email" required>
       <label for="psw"><b>Password</b></label>
    <input type="password" placeholder="Enter Password" name="password" required>

    <label><input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Remember me
    </label>
    <span th:text = "${sucesso}"></span>
    <div class="clearfix">
      <button type="button" class="cancelbtn">Cancel</button>
      <button type="submit" class="signupbtn">Sign Up</button>
    </div>  
</form>
</body>
</html>
